
<script>
    var queryCSV = function () {
        $.getJSON("https://localhost:44344/api/query?csvTable=test", function (result) {
            document.getElementById('textArea').style.display = 'block';
            document.getElementById('textArea').value = JSON.stringify(result);
        });
    }
</script>
<div style="margin:30px auto 30px 30px;">

    <ul>
        <li>filename is test.csv</li>
        <li>conditionClauses = "(salary < 4000000) OR (id = 1) OR (name = sid_1)"</li>
        <li>string[] select = { "id", "name", "salary" };</li>
        <li> test.csv in App_Data </li>
        <li>  <button type="button" onclick="queryCSV()">call query</button> </li>
    </ul>

    <div>
        <textarea id="textArea" style="height:400px; width:400px; display:none"></textarea>
    </div>

</div>